@model CreateRecordViewModel

<form asp-controller="RentalRecord" asp-action="CreateRecord">
    <label>Movie ID</label><select name="movie">
@foreach(var item in Model.Movies)
{
<option value="@item.MovieID">@item.MovieName</option>
}
    </select>
    
    <label>Customer ID</label><select name="customer">
@foreach(var item in Model.Customers)
{
    <option value="@item.CustomerID">@item.CustomerName</option>
}
    </select>
<h4>Rental Date</h4>
<input type="hidden" name="rentaldate" value="@Model.RentalDate"></input>
<p>@Model.RentalDate</p>
<h4>Due Date</h4>
<input type="hidden" name="duedate" value="@Model.DueDate"></input>
<p>@Model.DueDate</p>
<button type="submit">Check Out Movie</button>
</form>
