@model IEnumerable<RentalRecordViewModel>

@{
    ViewData["Title"] = "Rental Records";
}

<h1>@ViewData["Title"]</h1>
<table>
    <thead>
    <tr>
        <th>Rental ID</th>
        <th>Rental Date</th>
        <th>Rental Due Date</th>
        <th>Rental Return Date</th>
        <th>Movie Name</th>
        <th>Movie ID</th>
        <th>Customer Name</th>
        <th>Customer ID</th>
        
        <th>Customer Phone Number</th>
    </tr>
    </thead>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.RentalID</td><td>@item.RentalDate</td><td>@item.DueDate</td><td>@item.ReturnDate</td><td>@item.MovieName</td><td>@item.MovieID</td><td>@item.CustomerName</td><td>@item.CustomerID</td><td>@item.CustomerPhone</td>
        </tr>
        <br>
    }
</table>