@model IEnumerable<MoviesViewModel>

@{
    ViewData["Title"] = "Available Movies";
}

<h1>@ViewData["Title"]</h1>

@foreach(var item in Model)
{
    <p>@item.MovieName</p>
    <p>@item.MovieDescription</p>
    <p>@item.GenreName</p>
    <a asp-controller="RentalRecords" asp-action="Create" asp-action="@item.MovieID"><button>Rent</button></a>

}